<?js
var betterDocs

if(env.conf.templates && env.conf.templates.betterDocs) {
    betterDocs = env.conf.templates.betterDocs
} else {
    betterDocs = {}
}

var self = this
var isTutorial = subtitle === 'Tutorial'
var isSupport = title === "Support"
var isGettingStarted = title === "Getting Started"
if (typeof isSpec === 'undefined') isSpec = false
var search = env.conf.templates && env.conf.templates.search
var subDirPath = ""
if (isTutorial || isSpec) {
  subDirPath = "../"
}
?>

<!DOCTYPE html>
<html lang="en">
<head>
  <?js= this.partial('head.tmpl', { betterDocs, title }) ?>
  <link type="text/css" rel="stylesheet" href="<?js= subDirPath ?>styles/app.min.css">
  <link type="text/css" rel="stylesheet" href="<?js= subDirPath ?>styles/iframe.css">
  <link type="text/css" rel="stylesheet" href="<?js= subDirPath + betterDocs.css ?>">
</head>

<body class="<?js= self.smallHeader ? 'layout small-header' : 'layout'?>">
    <div id="stickyNavbarOverlay"></div>
    <?js= this.partial('topnav.tmpl', { betterDocs, subDirPath }) ?>
    <div id="main">
       <div id="sidebarNav">
            <?js if(betterDocs.docsearch) { ?>
                <div class="search-wrapper">
                    <input id="docsearch-input" type="text" placeholder="Search docs..." class="input">
                </div>
            <?js } ?>
            <div
                class="sidebar <?js= isTutorial ? 'tutorials' : '' ?>"
            >
                <?js if(search) { ?>
                    <div class="search-wrapper">
                        <input id="search" type="text" placeholder="Search docs..." class="input">
                    </div>
                <?js } ?>
                <nav>
                    <?js if (isTutorial) { ?>
                        <?js= this.tutorialsNav ?>
                    <?js } else if (isSpec) { ?>
                        <?js= this.specsNav ?>
                    <?js } else { ?>
                        <?js= this.nav ?>
                    <?js } ?>
                </nav>
            </div>
        </div>
        <div class="core" id="main-content-wrapper">
            <div class="content">
                <?js if (!isSpec && !isSupport && !isGettingStarted) { ?>
                    <header class="page-title">
                        <?js if (subtitle !== "" ) { ?>
                            <p><?js= subtitle ?></p>
                        <?js } ?>
                        <?js if (title !== "" ) { ?>
                            <h1><?js= title ?></h1>
                        <?js } ?>
                    </header>
                <?js } ?>
                <?js= content ?>
            </div>
            <?js if (betterDocs.hideGenerator !== true) { ?>
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate) { ?> on <?js= (new Date()) ?><?js } ?></p>
                    <p class="sidebar-created-by">
                        <a href="https://github.com/SoftwareBrothers/better-docs" target="_blank">BetterDocs theme</a> provided with <i class="fas fa-heart"></i> by 
                        <a href="http://softwarebrothers.co" target="_blank">SoftwareBrothers - JavaScript Development Agency</a>
                    </p>
                </div>
            </footer>
            <?js } ?>
        </div>
        <div id="side-nav" class="side-nav <?js= isSpec ? 'spec' : ''?>">
        </div>
    </div>
<script src="<?js= subDirPath ?>scripts/app.min.js"></script>
<script>PR.prettyPrint();</script>
<script src="<?js= subDirPath ?>scripts/linenumber.js"> </script>
<?js if(search) { ?>
<script src="<?js= subDirPath ?>scripts/search.js"> </script>
<?js } ?>
<?js if(betterDocs.docsearch && betterDocs.docsearch.apiKey) { ?>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript"> docsearch({
    apiKey: "<?js= betterDocs.docsearch.apiKey ?>",
    indexName: 'dcp',
    inputSelector: '#docsearch-input',
    debug: false // Set debug to true if you want to inspect the dropdown
    });
    </script>
<?js } ?>
</body>
</html>
