<?js 
  self = this
?>

<div class="top-nav">
    <div class="inner">
        <a id="hamburger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div class="logo">
            <?js if(betterDocs.logo) { ?> 
                <a class="image" href="<?js= subDirPath ?>index.html">
                    <img src="<?js= betterDocs.logo ?>" alt="logo">
                </a>
            <?js } ?>
            <?js if(betterDocs.name) { ?> 
                <a href="<?js= subDirPath ?>index.html">
                    <h1 class="navbar-item"><?js= betterDocs.name?></h1>
                </a>
            <?js } ?>
        </div>
        <div class="menu">
            <?js if(betterDocs.navButtons && betterDocs.navButtons.length) { ?> 
                <div class="top-buttons">
                    <?js betterDocs.navButtons.forEach(function(nav) { ?>
                        <a  href="<?js= subDirPath + nav.href ?>"
                            target="<?js= nav.target ? '_blank' : '' ?>"
                            class="button <?js= nav.className ?>"
                        ?>
                            <?js= nav.label ?>
                        </a>
                    <?js }); ?>
                </div>
                <?js } ?>
            <div id="right-nav" class="navigation">
                <div id="sm-screen-nav-button" >Menu</div>
                <nav>
                    <ul>
                        <li>
                            <a
                            href="<?js= subDirPath ?><?js= betterDocs.landing ? 'docs.html' : 'index.html' ?>"
                            class="link">
                                API Documentation
                            </a>
                        </li>
                        <?js if (this.tutorials.length) { ?>
                            <?js 
                            tutorial = this.tutorials[0] 
                            tutorialHref = 'guides/' + tutorial.name + '.html'
                            ?>
                            <li>
                                <a class="link" href="<?js= subDirPath + tutorialHref ?>">
                                    Guides
                                </a>
                            </li>
                        <?js } ?>
                        <?js if(betterDocs.navLinks && betterDocs.navLinks.length) { ?> 
                            <?js betterDocs.navLinks.forEach(function(link) { ?>
                                <li>
                                    <a
                                        class="link user-link <?js= link.className ? link.className : '' ?>"
                                        href="<?js= subDirPath + link.href ?>"
                                    >
                                        <?js= link.label ?>
                                    </a>
                                </li>
                            <?js }) ?>
                        <?js } ?>
                    </ul>
                </nav>                
            </div>
        </div>
    </div>
</div>